<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>Product Details</h2>
        <h3>Name:@Model.Name</h3>
        <p>@Model.Description</p>
    </body>
    </html>
