<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
    <a href="/Products/Create">Create product</a>
        @foreach (var item in @Model)
        {
            <h2>Product: @item.Name</h2>
            <a href="/Products/Details/@item.Id">Details</a>
        }
    </body>
    </html>